.getintouch-btn 
{
	display: block;
	font-size: calculateRem(48px,$font-size-root);
	&:hover{
		text-decoration: none;
	}
	> span{
		display: block;
		text-align: center;
	}

	padding: 2rem 1rem;
}

.btn-grp-wrapper
{
	display: flex;
	flex-flow: row wrap;
	> .btn{
		flex: 1;
		&+ .btn{
			margin-left: 10px;
		}
	}
}

.btn{
	&.rounded{
		border-radius: 99px!important;
	}
	&.btn-primary{
		position: relative;
		z-index: 1;
		&:after{
			border-radius: inherit;
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background: linear-gradient(135deg,rgba(255,255,255,.8) 0,rgba(255,255,255,0) 100%);
			transition: opacity .3s linear,left 1.5s cubic-bezier(.215,.61,.355,1);
			opacity: 0;
		}

		&:hover{
			&:after{
				opacity: 1;
			}
		}
	}
}

.btn.btn-scroll-up
{
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 9;
	border-radius: 50%;
	width: 50px;
    height: 50px;
    padding: 5px;
    display: block;
	
	.up-arrow-icon
	{
		position: absolute;
		transform: rotateZ(-180deg);
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		
		path{
			fill: $dark;
		}
	}
}