.form-wrapper{
	&:after,&:before{
		content:"";
		display: table;
	}
	
	&:after{
		clear: both;
	}
	input[type="text"],input[type="email"],select,textarea{
		@extend .form-control;
	}

	label{
		font-weight: $font-weight-bold;
		color: theme-color('primary');
	}
	button[type="submit"]{
		@extend .btn;
		@extend .btn-primary;
		@extend .rounded;
		@extend .px-4;
		float: right;
	}

	
}